*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #9792e4;
    --secondary: #0084fd;
    --light: #ffffff;
    --footer: #333333;
    --application: #b5ddff;
}

img{
    max-width: 100%;
}

a
{
    text-decoration: none;

}

li{
    list-style: none;
}

/* #region Debug */

.debug #site_header{
    width: 100%;
    height: 70px;
    background-color: var(--secondary);
}

.debug .container{
    background-color: #9792e4;
    height: 100%;
    width: 80%;

}

.debug .logo{
    background-color: antiquewhite;
    height: 100%;
}

.debug .link_header{
    background-color: aqua;
    height: 100%;
}

.debug .row{
    background-color: aqua;
    height: 800px;
}

.debug .col_12{
    border: 1px dashed;
}

.debug .testimonial{
    height: 200px;
    width: 100%;
    background-color: rgb(226, 226, 30);
    border: 1px dashed;
}

.debug .expert_partners{
    height: 200px;
    width: 100%;
    background-color: rgb(30, 226, 183);
    border: 1px dashed;
}

.debug .title_benefit{
    height: 100px;
    width: 100%;
    background-color: rgb(52, 68, 211);
    border: 1px dashed;
    margin-top: 2rem;
}

.debug .call_to_action .text_main_bottom, .debug .text_footer
{
    height: 50px;
    background-color: antiquewhite;
}





/* #endregion Debug */


/* #region Utilities */

.d_flex
{
    display: flex;
}

.d_none{
    display: none;
}

.container
{
    width: 80%;
    max-width: 1152px;
    margin: auto;
}

.space_between{
    justify-content: space-between;
}

.align_center{
    align-items: center;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
    justify-content: space-between;
}

.justify_content_center{
    justify-content: center;
}

.text_main_bottom, .text_footer
{
    text-align: center;
    margin: auto;
    width: 50%;
}

.pl_1{
    padding-left: 1rem;
}

.pl_2{
    padding-left: 2rem;
}

.pt_1{
    padding-top: 1rem;
}

.pt_2
{
    padding-top: 2rem;
}

.ptl_1{
    padding-top: 1rem;
    padding-left: 1rem;
}


.white{
    color: var(--light);
}

.black{
    color: black;
}

[class^="col_"]{
    padding: 0 1rem;
}

.col_1{
    width: calc(100% /12 * 1);
}

.col_2{
    width: calc(100% /12 * 2);
}

.col_3{
    width: calc(100% /12 * 3);
}

.col_4{
    width: calc(100% /12 * 4);
}

.col_5{
    width: calc(100% /12 * 5);
}

.col_6{
    width: 50%;
}

.col_7{
    width: calc(100% /12 * 7);
}

.col_8{
    width: calc(100% /12 * 8);
}

.col_9{
    width: calc(100% /12 * 9);
}

.col_10{
    width: calc(100% /12 * 10);
}

.col_11{
    width: calc(100% /12 * 11);
}

.col_12{
    width: calc(100% /12 * 12);
}



/* #endregion Utilities */


/* #region @Media */
@media screen and (min-width: 768px) 
{

.col_md_1{
    width: calc(100% /12 * 1);
}

.col_md_2{
    width: calc(100% /12 * 2);
}

.col_md_3{
    width: calc(100% /12 * 3);
}

.col_md_4{
    width: calc(100% /12 * 4);
}

.col_md_5{
    width: calc(100% /12 * 5);
}

.col_md_6{
    width: 50%;
}

.col_md_7{
    width: calc(100% /12 * 7);
}

.col_md_8{
    width: calc(100% /12 * 8);
}

.col_md_9{
    width: calc(100% /12 * 9);
}

.col_md_10{
    width: calc(100% /12 * 10);
}

.col_md_11{
    width: calc(100% /12 * 11);
}

.col_md_12{
    width: calc(100% /12 * 12);
}

}


@media screen and (min-width: 1200px) 
{

.col_lg_1{
    width: calc(100% /12 * 1);
}

.col_lg_2{
    width: calc(100% /12 * 2);
}

.col_lg_3{
    width: calc(100% /12 * 3);
}

.col_lg_4{
    width: calc(100% /12 * 4);
}

.col_lg_5{
    width: calc(100% /12 * 5);
}

.col_lg_6{
    width: 50%;
}

.col_lg_7{
    width: calc(100% /12 * 7);
}

.col_lg_8{
    width: calc(100% /12 * 8);
}

.col_lg_9{
    width: calc(100% /12 * 9);
}

.col_lg_10{
    width: calc(100% /12 * 10);
}

.col_lg_11{
    width: calc(100% /12 * 11);
}

.col_lg_12{
    width: calc(100% /12 * 12);
}

}

@media screen and (max-width: 900px) {
    .link_header ul{
        display: none;
    }

    .link_header .d_none{
        display: block;
    }
}




/* #endregion @Media */


/* #region Header */

#site_header{
    background-color: var(--secondary);
}

.logo
{
    width: 30%;
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.image_logo{
    height: 40px;
}

.link_header
{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.link_header ul{
    padding: 1rem 0;
    
}

.link_header a{
    color: var(--light);
}

.bt_header{
    padding: 8px 16px;
    background-color: var(--light);
    margin-left: 2rem;
    border-radius: 25px;
}

.bt_header span{
    color: var(--footer);
}

.row{
    margin: 2rem 0;
}


/* #endregion Header */


/* #region Main */


.background{
    background-color: var(--application);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px -10px;
    padding-bottom: 1rem;
}

.get_a_demo{
    display: flex;
    flex-wrap: wrap;
}

.bt_app_store{
    padding: 8px 25px;
    background-color: var(--secondary);
    border-radius: 25px;
}


img.pt_2.phone {
    height: 250px;
}

.logo_code{
    padding-top: 2rem;
    color: var(--secondary);
    padding-left: 10px;
    width: 100%;
    text-align: center;
}


.code{
    margin-top: 10px;
    font-size: 20px;
}

.text_code{
    padding: 2rem 1rem 0 1rem;
}

/* /section Demo */


.planning{
    background-color: var(--primary);
}

.planning .row{
    margin: 2rem 5rem;
}


.img_planning_1{
    padding-top: 2rem;
}

.img_planning_2{
    margin-top: 8rem;
    background-color: var(--light);
    padding-bottom: 2rem;
    border-radius: 40px;
    margin-bottom: 4rem;
}

/* /section Planning */

.testimonial{
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--primary);
    border-radius: 30px;
    margin-top: 2rem;
    padding: 1rem 0;

}

.expert_partners{
    text-align: center;
}

.title_testimonials{
    color: var(--primary);
}

.image_testimonial{
    width: 200px;
    height: 170px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin: 0 1rem;

}

.bio{
    padding-left: 2rem;
}

/* /section Testimonials */

.benefits{
    background-color: var(--primary);
}

.background_white{
    background-color: var(--light);
    color: var(--primary);
    border-radius: 30px;
    margin: 1rem -10px;
    padding-bottom: 2rem;
}

.numbers{
    padding: 1.5rem 0;
}

.numbers .number{
    font-size: 40px;
}


.bt_more{
    padding: 8px 40px;
    background-color: var(--primary);
    border-radius: 25px;
    color: var(--light);
    margin-top: 2rem;
}

.benefit .black{
    margin-bottom: 2rem;
}

/* /section Benefits */


.text_about p{
    line-height: 35px;
}

.title_about{
    color: var(--primary);
    font-size: 35px;
    padding: 2rem 0;
}

.call_to_action{
    background-color: var(--primary);
}

.img_about{
    padding-top: 2rem;
    text-align: center;
    position: relative;
}

.image_about{
    border-radius: 50%;
    width: 80%;
}

.img_about i{
    position: absolute;
    color: var(--primary);
    top: 30px;
    right: 70px;
}

.text_img{
    line-height: 35px;
    width: 60%;
    color: var(--primary);
}


.btn_linkedin{
    color: var(--light);
    padding: 5px 5px;
    background-color: var(--primary);
    border-radius: 25px;
    font-size: 10px;
}
/* /section about */




















/* #endregion Main */


/* #region Footer */

#site_footer{
    background-color: var(--footer);
    padding-top: 3rem;
}






/* #endregion Footer */






